<!doctype html>

<html>


  <head>
    <title>Training</title>
    <link href="css/PocketPup.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" >

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <style>
      h1{
        text-align:center;
      }
      h2{
        text-align:center;
      }
      /*.dropbtn {
        background-color: orange;
        color: white;
        padding:5pt;
        margin-top:35pt;
        font-size: 20px;
        border: none;
        cursor: pointer;
      }

      .dropbtn:hover, .dropbtn:focus {
        background-color: orange;
      }

      .dropdown {
        position: relative;
        display: inline-block;
      }

      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      }

      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }

      .dropdown a:hover {
        background-color: #f1f1f1
      }

      .show {
        display:block;
      }
      */

      textarea#comment{
        text-align:center;
        margin-bottom:40pt;
        border-color: black;
      }
  </style>

  <script>
      function setLesson(index) {
        var index = parseInt(index);
        console.log(index);
        $.post({url: "training/setLesson", data: {"index": index}, success: reloadPage()});
      }
      function reloadPage() {
        location.reload();
      }
  </script>

  <body>
      <div class="bar top">
        <a href="activity" id="actButton"><i class="fa fa-book"></i></a>
        <p class="pageTitle">Training</p>
        <a href="store" id="storeButton"><i class="fa fa-credit-card"></i></a>
      </div>

      <div class="buffer"></div>

      <div class="dropdown" align="center">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{lessonNum}}. {{lessonTitle}}<span class="caret"></span></button>
        <div class="dropdown-menu" align="center">
          <ol>
            <li><button class="dropdown-item" onclick="setLesson(0)">Potty Training </button></li>
            <li><button class="dropdown-item" onclick="setLesson(1)">Sitting </button></li>
            <li><button class="dropdown-item" onclick="setLesson(2)">Staying </button></li>
          </ol>
        </div>
      </div>

      <div>
        <h1>{{lessonTitle}}</h1>

        <h5 align="center" padding-left="5" padding-right="5">Getting your {{age}}-year-old {{breed}} to {{lesson}}.</h4>

        <ol>
      	   <li>{{list1}}</li>
      	   <li>{{list2}}</li>
           <li>{{list3}}</li>
           <li>{{list4}}</li>
        </ol>

        <h3>Video Demonstration</h3>

        <div align="center">
           <iframe width="350" height="221" src="{{video}}" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>

      <div align="center">
          <p>Any comments?</p>
      </div>

      <div align="center">
          <textarea rows="4" cols="35" id="comment" onfocus="if(this.value=='Write something here!') this.value='';">Write something here!</textarea>
      </div>

      <div class="bar bottom">
    		  <a href="home"><i class="fa fa-home"></i></a> 
    		  <a href="locations"><i class="fa fa-map-marker"></i></a> 
    		  <a href="training" class="active bottom"><i class="fa fa-paw"></i></a> 
          <a href="vote"><i class="fa fa-check-square-o"></i></a>
      </div>
    </div>
  </body>
</html>